a {
	color: inherit;
}

a:hover {
	color: white;
}

#calendar {
	margin-top: 20px;
	position: relative;
	z-index: 1;
	margin-left: 200px;
}

#goals,
#sheets {
	position: fixed;
	z-index: 2;
	top: 5em;
	left: 20px;
	width: 150px;
	padding: 0 10px;
	border: 1px solid #ccc;
	background: #eee;
}

#sheets {
	top: 15em;
}

/* #sheets {
	top: 25em;
} */

.fc-today {
	background: #ffb8b8 !important;
}

.fc-event {
	cursor: move;
}

.digital-ml {
	margin: 1em 0;
	background-color: #e78833;
	border: 1px solid #e78833;
}

.springboard {
	margin: 1em 0;
	background-color: #00c09d;
	border: 1px solid #00c09d;
}

.mini-enterprises {
	margin: 1em 0;
	background-color: #58afe0;
	border: 1px solid #58afe0;
}
