html,
body {
	background: rgb(62,76,107);
	background: linear-gradient(90deg, rgba(62,76,107,1) 0%, rgba(142,199,222,1) 100%);
	color: white;
}

.fc-list-heading,
b {
	color: #212529;
}

a {
	color: inherit;
}

a:hover {
	color: white;
}

#calendar {
	margin-top: 20px;
	position: relative;
	z-index: 1;
	margin-left: 200px;
}

#goals,
#sheets {
	position: fixed;
	z-index: 2;
	top: 5em;
	left: 20px;
	width: 150px;
	padding: 0 10px;
	border: 1px solid #ccc;
	background: #728fa0 !important;
	border-radius: 5px;
}

#sheets {
	top: 15em;
}

.fc-today {
	background : #c31312 !important;
}

.fc-list-heading td {
	background: #0ea767 !important;
}

.fc-list-item:hover td {
	background: black !important;
}

.fc-event {
	cursor: move;
}

.fc-button-primary {
	background-color: #49a0f7 !important;
	border-color: #2172c3!important;
}

.fc-button-active {
	background-color: #06a07d !important;
	border-color: #128065 !important;
}

.digital-ml {
	margin: 1em 0;
	background-color: #e78833;
	border: 1px solid #e78833;
}

.springboard {
	margin: 1em 0;
	background-color: #00c09d;
	border: 1px solid #00c09d;
}

.mini-enterprises {
	margin: 1em 0;
	background-color: #58afe0;
	border: 1px solid #58afe0;
}
