extends planner-layout

block meta-library
  meta(charset='utf-8')

  link(href='https://use.fontawesome.com/releases/v5.0.6/css/all.css' rel='stylesheet')
  link(href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' rel='stylesheet')
  link(href='calendar/core/main.min.css' rel='stylesheet')
  link(href='calendar/daygrid/main.min.css' rel='stylesheet')
  link(href='calendar/timegrid/main.min.css' rel='stylesheet')
  link(href='calendar/list/main.min.css' rel='stylesheet')
  link(href='bootstrap/css/bootstrap.min.css' rel='stylesheet')

  script(src='jquery/jquery.min.js')
  script(src='calendar/core/main.min.js')
  script(src='calendar/daygrid/main.min.js')
  script(src='calendar/timegrid/main.min.js')
  script(src='calendar/list/main.min.js')
  script(src='calendar/interaction/main.min.js')
  script(src='bootstrap/js/bootstrap.min.js')

block meta-self
  script.
    let data = !{JSON.stringify(calendarData)}
  link(href='css/planner.css' rel='stylesheet')
  script(type='module' src='js/planner.js')

block calendar
  #goals.container
    p.text-center
      b Goals
    .fc-event.text-center.digital-ml 
      a(href='https://digitalml.atlassian.net/secure/RapidBoard.jspa?rapidView=69') Director of AI
    .fc-event.text-center.springboard 
      a(href='https://www.springboard.com/workshops/ai-machine-learning-career-track/learn#/dashboard') Masters in CS
    .fc-event.text-center.mini-enterprises $1,000,000
  #sheets.container
    p.text-center
      b Sheets
    //- .fc-event.text-center.digital-ml 
    //-   a(href='https://digitalml.atlassian.net/secure/RapidBoard.jspa?rapidView=69') Weekly Board
    .fc-event.text-center.springboard 
      a(href='https://docs.google.com/spreadsheets/d/1KoEvsTCNVaHIEQ1mv4JHp5J4O3b9YvK3DWbfGgb_oz4/edit#gid=1644705221') Springboard
    .fc-event.text-center.mini-enterprises 
      a(href='https://docs.google.com/spreadsheets/d/1YPcRpzpcGhlhr-SSGmn53vlofYJZUs_Owc7SBl1xumE/edit#gid=0') Mini Enterprises
  #calendar.container
