doctype html
head
  title Mini Enterprises
  block meta
  block link

body
  block navigation
  block masthead
  block about
  block application
  block contact

footer
  block footer
  block copyright

